body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: $main-color;
    a {
        color: #fff;
    }
    a:hover {}
    .navbar {
        margin: 0;
    }
}

footer {
    height: 50px;
    background: $main-color;
    padding: 20px;
    color: #fff;
}

.container {
    max-width: 950px;
}

.btn {
    font-weight: 300;
    padding: 10px 27px;
}

ul {
    list-style: none;
    li {
        color: #fff;
    }
}

.heading {
    font-size: 1.8em;
    font-weight: 300;
    color: $main-color;
}

hr {
    margin-top: 20px;
    margin-bottom: 35px;
}

#home {
    header {
        background: rgba(148, 53, 183, 0.6) url(/images/header.png) center center;
        background-color: rgba(148, 53, 183, 0.6);
        padding: 240px 100px;
        text-align: center;
        color: #fff;
        font-size: 3em;
    }
    /*  .mask {
        position: relative;
    }
    .mask:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
    }*/
    .heading {
        margin-top: 60px;
        text-align: center;
        padding-bottom: 30px;
    }
    .info {
        background: #f9f9f9;
        .section {
            margin-bottom: 50px
        }
        .section {
            background: #fff;
            padding: 35px 15px 0 15px;
            text-align: center;
            height: 220px;
            /*border: 1px solid darkgrey;
            border-radius: 5px;*/
        }
        .text {
            padding-top: 25px;
        }
    }
}

.saveBtn {
    background: #5fcac6;
    color: #fff;
}

.addBtn {
    border: 1px #5fcac6 solid;
    color: #5fcac6;
    background: transparent;
}

#profile {
    .sub-header {
        background: $main-color;
        padding: 40px 0 50px 0;
        .user-name {
            color: #fff;
            font-size: 3em;
            font-weight: 200;
        }
    }
    .nav, .profile-tabs {
        background: $main-color;
    }
    .name, .email {
        color: $main-color;
    }
    #general {
        .password {
            background: #f9f9f9;
            padding: 50px 0;
        }
        .subscriptions {
            padding-top: 50px;
            margin-bottom: 50px;
        }
    }
    #personal {
        .pills {
            background: #f9f9f9;
            padding: 50px 0;
            .table {
                background: #fff;
                thead {
                    background: #b3a7c7;
                    color: #fff;
                }
            }
            .deleteIcon {
                color: #ff6060;
                font-size: 1.5em;
                padding: 8% 0 0 16%;
            }
        }
        .sleeping {
            background: #f9f9f9;
            padding-bottom: 50px;
        }
        .sleepingNotifications {
            margin-top: 20px;
            text-align: center;
        }
        .saveIcon:hover {
            color: #5cb85c;
        }
        .addIcon:hover {
            color: #f0ad4e;
        }
    }
    .form-group input[type="checkbox"] {
        display: none;
    }
    .custom-checkbox {
        min-height: 1rem;
        padding-left: 0;
        cursor: pointer;
        margin: 0 0 0 20px;
    }
    .custom-checkbox .custom-control-indicator {
        content: "";
        display: inline-block;
        position: relative;
        width: 30px;
        height: 10px;
        background-color: #818181;
        border-radius: 15px;
        margin-right: 10px;
        -webkit-transition: background .3s ease;
        transition: background .3s ease;
        vertical-align: middle;
        margin: 0 16px;
        box-shadow: none;
    }
    .custom-checkbox .custom-control-indicator:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: #f1f1f1;
        border-radius: 21px;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
        left: -2px;
        top: -4px;
        -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
        transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-indicator {
        background-color: #84c7c1;
        background-image: none;
        box-shadow: none !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-indicator:after {
        background-color: #84c7c1;
        left: 15px;
    }
    .custom-checkbox .custom-control-input:focus~.custom-control-indicator {
        box-shadow: none !important;
    }
}

#diary {
    .heading {
        margin-top: 60px;
        #chooseDiaryDay {
            font-size: 16px;
        }
    }
}

#products {
    .heading {
        margin-top: 60px;
    }
    .table {
        margin-bottom: 35px;
        margin-top: 15px;
        .name {
            width: 50%;
        }
        thead {
            background: #b3a7c7;
            color: #fff;
        }
    }
    .newSection {
        background: #f9f9f9;

        .newProduct {
            border: 1px solid #cecece;  
            padding: 25px;
            margin-bottom: 50px;
        }
    }   

}

.profile-tabs {
    border-top: 1px #787878 solid;
    ul {
        margin: 0;
        li {
            position: relative;
            float: left;
            margin-right: 25px;
            text-transform: uppercase;
            a {
                color: #fff;
                display: block;
                line-height: 1em;
                padding: 28px 0;
                font-weight: 200;
                font-weight: 300;
                text-decoration: none;
            }
            &.active, &:hover {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: -3px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: #5fcac6;
                }
            }
        }
    }
}

.profile-general {
    padding: 50px 0;
}

.form-group {
    label {
        color: #422e7a;
        font-weight: 400;
    }
}

.section-head {
    margin-bottom: 35px;
    padding-bottom: 10px;
    border-bottom: 1px #e3e3e3 solid;
    .addBtn {
        margin-right: 8px;
    }
}

.profile-coefficient, .profile-sensitivity {
    position: relative;
    background: #f3f3f3;
    padding: 35px 28px;
    margin-bottom: 30px;
    .remove {
        position: absolute;
        right: 14px;
        top: 10px;
        color: #ff6060;
        font-size: 17px;
        cursor: pointer;
    }
    .param {
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
        label {
            color: #422e7a;
            font-weight: 400;
        }
    }
    input {
        border-color: transparent;
        background: transparent;
        font-size: 15px;
        padding: 0;
        text-align: right;
        width: 100%;
    }
    input:focus {
        outline: none;
    }
}

input[type="time"]::-webkit-clear-button {
    display: none;
}

input[type=time]::-webkit-inner-spin-button, input[type=time]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.insulin-data {
    padding: 50px 0;
}

.diary-table {
    th {
        background: #b3a7c7;
        color: #fff;
        font-weight: 400;
    }
    td {
        vertical-align: middle!important;
        text-align: center;
        padding: 15px 0!important;
    }
    .full {
        border: none;
        box-shadow: none;
        background: transparent;
        width: 100%;
        max-width: 100%;
        height: 100%;
        text-align: center;
        outline: none!important;
    }
    .remove {
        color: #ff6060;
        .fa {
            cursor: pointer;
        }
    }
    .products {
        padding: 0;
        ol {
            margin: 0;
            padding: 15px;
            width: 100%;
        }
        li {
            margin-left: 25px;
        }
        input[type=text] {

        }
    }
}